{% extends "base.html" %}

{% block title %}{{ profile.get_full_name }} @{{ profile }}{% endblock %}


{% block content %}

{% load thumbnail %}
<!--{{ user.get_full_name }}-->

<!--{{ user }}-->

<!--{% for post in posts_list %}-->
<!--    {{ post.group}}-->
<!--{% endfor %}-->


<main role="main" class="container" style="margin-top: 20px">
    <div class="row">

        {% include "sidebar_profile.html" %}

        <div class="col-md-9">
            {% for post in posts_list %}
            {% include "post_item.html" with post=post %}
            <!-- Конец блока с отдельным постом -->
            {% endfor %}
            <!-- Остальные посты -->

            <!-- Здесь постраничная навигация паджинатора -->

            {% if posts_list.has_other_pages %}
            {% include "paginator.html" with items=posts_list paginator=paginator %}
            {% endif %}


        </div>
    </div>

</main>

{% endblock %}
